<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>audio_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,877},{106,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{106,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>audio_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1004},{106,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{106,112}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,991},{70,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{70,76}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,879},{450,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,123}}</string>
                <key>sourceSize</key>
                <string>{450,123}</string>
            </dict>
            <key>friendly.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,991},{450,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,123}}</string>
                <key>sourceSize</key>
                <string>{450,123}</string>
            </dict>
            <key>friends_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{750,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,380}}</string>
                <key>sourceSize</key>
                <string>{750,380}</string>
            </dict>
            <key>frist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{12,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{12,36}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>head_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,866},{208,214}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{208,214}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>head_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,711},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>head_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,1004},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>layer_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{516,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,236}}</string>
                <key>sourceSize</key>
                <string>{516,236}</string>
            </dict>
            <key>number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{722,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{722,102}}</string>
                <key>sourceSize</key>
                <string>{730,108}</string>
            </dict>
            <key>number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1082},{188,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{188,25}}</string>
                <key>sourceSize</key>
                <string>{190,27}</string>
            </dict>
            <key>paly.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,644},{160,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,65}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>qiqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,879},{174,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,190}}</string>
                <key>sourceSize</key>
                <string>{174,190}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1004},{106,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,114}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>rank_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,2},{640,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,117}}</string>
                <key>sourceSize</key>
                <string>{640,117}</string>
            </dict>
            <key>rank_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,754},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>rank_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,2},{640,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,110}}</string>
                <key>sourceSize</key>
                <string>{640,110}</string>
            </dict>
            <key>retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,866},{450,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,123}}</string>
                <key>sourceSize</key>
                <string>{450,123}</string>
            </dict>
            <key>scend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1042},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,36}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,644},{116,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,35}}</string>
                <key>sourceSize</key>
                <string>{116,35}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1004},{106,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,114}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>single.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,754},{450,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,123}}</string>
                <key>sourceSize</key>
                <string>{450,123}</string>
            </dict>
            <key>third.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1004},{20,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{20,36}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>title_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,2},{640,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,66}}</string>
                <key>sourceSize</key>
                <string>{640,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>layerImg.png</string>
            <key>size</key>
            <string>{2019,1116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6d070f349331a85d699e5eb0be11165$</string>
            <key>textureFileName</key>
            <string>layerImg.png</string>
        </dict>
    </dict>
</plist>
