<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiuqiu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{498,462}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,54},{498,462}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>qiuqiu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{598,408}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,108},{598,408}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>qiuqiu_paopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tangguo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1014},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{18,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>tangguo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1014},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>tangguo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1014},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>tangguo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1014},{16,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{16,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiuqiuxingxing.png</string>
            <key>size</key>
            <string>{604,1478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0f1a1ce9e5b7c2c55ce0c75a36fa597:113e86bcfacda1ee58719f13338acc0f:edceda39785d6cff66c7ffcc10e4cc9e$</string>
            <key>textureFileName</key>
            <string>qiuqiuxingxing.png</string>
        </dict>
    </dict>
</plist>
